:root {
  --brand-color: #2196f3;
  --brand-color-hover: #188ce8;
  --main-color: #757575;
  --header-color: #212121;
  --white: #ffffff;
  --black: #000000;
  --background-dark: #2f303a;
  --light-grey: #f5f4fa;
  --icon-grey: #afb1b8;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--white);
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
}

.list, .site-nav, .auth-nav, .our-benefits__list, .our-expertise__list, .our-team__list, .social-media, .our-clients__list, .filters-list, .project-thumbnails, .footer__social-media-icons, .contacts {
  list-style: none;
}

.section, .hero, .our-benefits, .our-expertise, .our-team, .our-clients, .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden, .our-benefits__secondary-header, .portfolio__main-header {
  display: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms, visibility 250ms;
}

.site-nav,
.filter-button {
  display: inline-block;
}

.container, .page-header__header, .our-benefits__container, .our-expertise__container, .our-team__container, .our-clients__container, .portfolio__container, .footer__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
}

.secondary-header, .our-benefits__secondary-header, .our-expertise__secondary-header, .our-team__secondary-header, .our-clients__secondary-header {
  color: var(--header-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.secondary-header--modal {
  font-size: 20px;
  margin-bottom: 12px;
}

.anchor, .site-nav__anchor, .site-nav__anchor--active, .auth-nav__anchor, .client-block__anchor {
  color: var(--main-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.anchor:hover, .site-nav__anchor:hover, .site-nav__anchor--active:hover, .auth-nav__anchor:hover, .client-block__anchor:hover, .anchor:focus, .site-nav__anchor:focus, .site-nav__anchor--active:focus, .auth-nav__anchor:focus, .client-block__anchor:focus, .anchor.active, .active.site-nav__anchor, .active.site-nav__anchor--active, .active.auth-nav__anchor, .active.client-block__anchor {
  color: var(--brand-color);
}

.button, .modal-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .modal-btn:hover, .button:focus, .modal-btn:focus {
  background-color: var(--brand-color-hover);
}

.button__icon-send {
  margin-left: 10px;
}

.button--subscribe {
  display: flex;
  padding: 10px 29px;
  align-items: center;
  margin-left: 12px;
}

.button--modal {
  align-self: center;
}

.button--filter {
  font-weight: 500;
  line-height: 1.6;
  background-color: #f5f4fa;
  color: var(--header-color);
  padding: 6px 22px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--filter:hover, .button--filter:focus {
  background-color: var(--brand-color-hover);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--filter-active {
  background-color: var(--brand-color);
  color: var(--white);
}

.modal-btn {
  margin-top: 30px;
  padding: 10px 32px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.caption, .benefit-item__caption, .person-caption__name, .thumbnail-link__project-name, .footer__caption {
  color: var(--header-color);
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.list-item, .benefit-item, .filters-list__item {
  display: inline-block;
}

.icon, .social-media__icon, .social-media-item__icon {
  color: var(--icon-grey);
  height: 20px;
}

.social-icon, .social-media__icon, .social-media-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  color: var(--brand-color);
}

.logo__highlight {
  color: var(--black);
}

.logo__highlight--white {
  color: var(--white);
}

.logo--footer {
  padding-bottom: 20px;
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding: 24px 0 25px;
}

.page-header__header {
  align-items: center;
  justify-content: space-between;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
}

.site-nav__menu-item {
  margin-right: 50px;
  display: inline-block;
  font-weight: 500;
}

.site-nav__anchor--active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  display: block;
  border-radius: 2px;
  transform: translateY(27px);
}

.auth-nav {
  display: flex;
}

.auth-nav__menu-item {
  display: inline-block;
  font-weight: 500;
  margin-left: 50px;
}

.auth-nav__anchor {
  display: flex;
  align-items: center;
}

.auth-nav__button-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-image.jpg");
  max-width: 1600px;
  padding: 0;
  margin: 0 auto;
}

.hero__full-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.hero__main-header {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
}

.our-benefits {
  padding-bottom: 0;
}

.our-benefits__list {
  display: flex;
}

.benefit-item:not(:last-child) {
  margin-right: 30px;
}

.benefit-item__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefit-item__caption {
  text-transform: uppercase;
}

.our-expertise__container {
  flex-direction: column;
  align-items: center;
}

.our-expertise__list {
  display: flex;
}

.our-expertise-item:not(:last-child) {
  margin-right: 30px;
}

.our-expertise-item__img-wrapper {
  position: relative;
  overflow: hidden;
}

.our-expertise-item__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  text-transform: uppercase;
}

.our-team {
  background-color: var(--light-grey);
}

.our-team__container {
  flex-direction: column;
  align-items: center;
}

.our-team__list {
  display: flex;
}

.our-team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-card:not(:last-child) {
  margin-right: 30px;
}

.person-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.person-caption__name {
  font-size: 16px;
  line-height: 1.19;
}

.person-caption__position {
  margin-bottom: 16px;
}

.social-media {
  display: flex;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__icon:hover, .social-media__icon:focus {
  background-color: var(--brand-color);
  color: var(--white);
}

.social-media__logo {
  fill: currentColor;
}

.our-clients__container {
  flex-direction: column;
}

.our-clients__list {
  display: flex;
  justify-content: center;
}

.client-block {
  width: 170px;
  height: 92px;
}

.client-block:not(:last-child) {
  margin-right: 30px;
}

.client-block__anchor {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.client-block__anchor:hover, .client-block__anchor:focus {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.client-block__anchor:hover .client-block__logo, .client-block__anchor:focus .client-block__logo {
  fill: var(--brand-color);
}

.client-block__logo {
  fill: var(--icon-grey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__container {
  flex-direction: column;
  align-items: center;
}

.filters-list {
  font-size: 0;
}

.project-thumbnails {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.project-thumbnails__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-thumbnails__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.thumbnail-link {
  text-decoration: none;
  color: var(--main-color);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumbnail-link:hover, .thumbnail-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumbnail-link:hover .thumbnail-link__overlay, .thumbnail-link:focus .thumbnail-link__overlay {
  transform: translateY(0);
}

.thumbnail-link__wrapper {
  position: relative;
  overflow: hidden;
}

.thumbnail-link__overlay {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumbnail-link__project-caption {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.thumbnail-link__project-name {
  font-size: 18px;
  line-height: 2;
}

.footer {
  background-color: var(--background-dark);
}

.footer__container {
  padding: 60px 15px;
}

.footer__address {
  font-style: normal;
  color: var(--white);
}

.footer__social-media {
  margin-left: 70px;
}

.footer__caption {
  color: var(--white);
  text-transform: uppercase;
  padding-top: 12px;
  margin-bottom: 20px;
}

.footer__social-media-icons {
  display: flex;
}

.footer__subscription {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.contacts__item {
  display: block;
}

.contacts__item:not(:last-child) {
  padding-bottom: 9px;
}

.contacts__anchor {
  color: #acacb0;
  text-decoration: none;
}

.contacts__anchor:hover, .contacts__anchor:focus {
  color: var(--white);
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-item__icon {
  background-color: #43444d;
  color: var(--white);
}

.social-media-item__icon:hover, .social-media-item__icon:focus {
  background-color: var(--brand-color);
  color: var(--white);
}

.social-media-item__logo {
  fill: currentColor;
}

.subscription-form {
  display: flex;
}

.subscription-form__email-input-field {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form__email-input-field:hover, .subscription-form__email-input-field:focus {
  color: var(--white);
  border-color: var(--white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop__modal-window {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: white;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.is-hidden .backdrop__modal-window {
  transform: translateX(-50%) translateY(-50%) scale(0.5);
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background-color: var(--white);
}

.close-btn__icon {
  width: 30px;
  height: 30px;
  color: var(--black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon {
  color: var(--brand-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.field-group {
  position: relative;
  margin-bottom: 10px;
}

.field-group__label {
  font-size: 12px;
  margin-bottom: 4px;
}

.field-group__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-group__field--textarea {
  padding: 12px 16px;
  min-height: 120px;
  max-height: 120px;
  min-width: 100%;
  max-width: 100%;
}

.field-group__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-group__field:hover + .field-group__icon,
.field-group__field:focus + .field-group__icon,
.field-group__field:active + .field-group__icon {
  fill: var(--brand-color);
}

.field-group__field:hover, .field-group__field:focus, .field-group__field:active {
  border-color: var(--brand-color);
}

.consent-block {
  align-self: center;
}

.consent-block__checkbox {
  display: none;
}

.consent-block__label {
  display: flex;
  align-items: center;
  width: 100%;
}

.consent-block__checkbox:checked + .consent-block__label .consent-block__checkbox-icon--default,
.consent-block__checkbox:not(:checked) + .consent-block__label .consent-block__checkbox-icon--checked {
  display: none;
}

.consent-block__text {
  margin-left: 8px;
}

.consent-block__anchor {
  color: var(--brand-color);
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */