.hero {
  @extend .section;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 46vw;
  width: 100%;
  padding: 0;
  margin: 0 auto;

  &__full-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 46vw;
  }

  &__main-header {
    color: var(--white);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 400px;
  }
}

@media screen and (min-width: $desktop) {
  .hero {
    width: initial;
    height: initial;
    max-width: 1600px;

    &__main-header {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
    &__full-width {
      min-height: 600px;
    }
  }
}
