.logo {
  font-family: $logoFont;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  color: var(--brand-color);

  &__highlight {
    color: var(--black);

    &--white {
      color: var(--white);
    }
  }
  &--footer {
    padding-bottom: 20px;
  }
}
