.portfolio {
  @extend .section;

  &__container {
    @extend .container;
    flex-direction: column;
    align-items: center;
  }
  &__main-header {
    @extend .visually-hidden;
  }
}
.filters-list {
  @extend .list;
  font-size: 0;

  &__item {
    @extend .list-item;
  }
}

.project-thumbnails {
  @extend .list;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;

  &__item {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}
.thumbnail-link {
  $tl: &;
  text-decoration: none;
  color: var(--main-color);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    #{$tl}__overlay {
      transform: translateY(0);
    }
  }
  &__wrapper {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    color: var(--white);
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__project-caption {
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }
  &__project-name {
    @extend .caption;
    font-size: 18px;
    line-height: 2;
  }
}
