:root {
  --brand-color: #2196f3;
  --brand-color-hover: #188ce8;
  --main-color: #757575;
  --header-color: #212121;
  --white: #ffffff;
  --black: #000000;
  --background-dark: #2f303a;
  --light-grey: #f5f4fa;
  --icon-grey: #afb1b8;
}

$baseFont: "Roboto", "Arial", sans-serif;
$logoFont: "Raleway";
